@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: #213547; /* hsla(160, 100%, 37%, 1); */
  transition: 0.5s;
  padding: 3px;
}

.svg-inline--fa {
  text-decoration: none;
  transition: 0.5s;
  padding: 10px;
  font-size: 8em;
}



@media (hover: hover) {
  a:hover {
    color: #5b92e5; /* hsla(160, 100%, 37%, 0.2); */
    text-shadow: #78c0ff 0px 1px 20px;
  }
  .svg-inline--fa:hover {
    /* color: red; */
    filter: drop-shadow(0 0 0.75rem #78c0ff);
  }
}



@media (prefers-color-scheme: dark) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #5b92e5; /* #ffc300; */
    text-shadow: #78c0ff 0px 1px 20px;
  }
  .svg-inline--fa:hover {
    /* color: red; */
    filter: drop-shadow(0 0 0.75rem #78c0ff);
  }
}

.logo {
  display: block;
  margin: 0 auto 2rem;
}

body {
  display: flex;
  place-items: center;
}

header {
  line-height: 1.5;
}

video {
  padding: 10px;
}
